<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>用户管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.6/dist/css/bootstrap.min.css}"/>
    <script language="JavaScript" type="text/javascript" th:href="@{/js/bootstrap.min.js}"/>
    <script language="JavaScript" type="text/javascript" th:href="@{/js/jquery-3.1.1.min.js}"/>


</head>
<body>
<div class="container">
    <div class="row"><h1>用户管理系统</h1></div>
</div>

<div class="row">
    <div class="span3">
        <div class="well">
            <div>
                <ul class="nav nav-list">
                    <li><label class="tree-toggle nav-header">Bootstrap</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><label class="tree-toggle nav-header">Buttons</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Colors</a></li>
                                    <li><a href="#">Sizes</a></li>
                                    <li><label class="tree-toggle nav-header">Forms</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Horizontal</a></li>
                                            <li><a href="#">Vertical</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggle nav-header">Responsive</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><label class="tree-toggle nav-header">Media Queries</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Text</a></li>
                                    <li><a href="#">Images</a></li>
                                    <li><label class="tree-toggle nav-header">Mobile Devices</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">iPhone</a></li>
                                            <li><a href="#">Samsung</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><label class="tree-toggle nav-header">Coding</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">JavaScript</a></li>
                                    <li><a href="#">jQuery</a></li>
                                    <li><label class="tree-toggle nav-header">HTML DOM</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">DOM Elements</a></li>
                                            <li><a href="#">Recursive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
     您好，欢迎 #{user} 进入管理系统
</body>
<script type="text/javascript">
    $('.tree-toggle').click(function () {
        $(this).parent().children('ul.tree').toggle(200);
    });
</script>
</html>